*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  list-style: none;
}

html {
  box-sizing: border-box;
}

main {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 5rem;
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    width: 0.8vw;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #7775;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: #777;
  }
  &::-webkit-scrollbar-track {
    background-color: #5555;
  }
  &::-webkit-scrollbar-track:hover {
    background-color: #555;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.466);
  & img {
    margin-left: 5rem;
  }
  & ul {
    margin-right: 5rem;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    & span {
      background-color: white;
    }
  }
}

.hero {
  background: url("/images/bg1.jpg") center / cover;
  height: 100%;

  &_div {
    top: 8rem;
    left: 6rem;
    border-radius: 1.2rem;
    box-shadow: 1.4rem 1.4rem 1.2rem rgba(0, 0, 0, 0.486);
    position: relative;
    background-color: rgba(0, 0, 0, 0.651);
    max-width: 52vw;
    height: 40%;

    &-heading {
      font-size: 4rem;
      color: white;
      line-height: 6rem;
      letter-spacing: -0.15rem;
      word-wrap: normal;
    }
  }
  &_down {
    margin: 32rem auto;
    text-align: center;
  }
}

.break {
  background-color: cyan;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.863);
  height: 15%;
}

.parrallax {
  position: relative;
  display: flex;
  align-items: center;

  justify-content: space-evenly;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}

.parrallax_background {
  background: url("/images/prism.png") center / cover;
  position: absolute;
  height: 100%;
  width: 100vw;
  z-index: -1;
  transform-style: preserve-3d;
  transform: translateZ(-5rem) scale(2);
}

.parrallax_title {
  color: red;
}

.parrallax_dev,
.parrallax_design {
  transform: translateZ(-5rem) scale(2);
  z-index: 100;
}

.reviews {
  background-color: turquoise;
  height: 50%;
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reviews_container {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(5, auto);
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  overflow: hidden;
  width: 70%;
  height: 15rem;
}

.reviews_container-cards {
  height: 12rem;
  width: 24rem;
  background-color: white;
  border: 1px solid black;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.308);
  cursor: grab;
}

.projects {
  width: 100vw;
  height: 100vh;
  background-color: rgb(50, 172, 159);
}
