*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

main {
  height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 5rem;
  font-family: "Rubik", sans-serif;
  scroll-behavior: smooth;
}
main ::-moz-selection {
  background-color: #30d5c8;
  color: black;
}
main ::selection {
  background-color: #30d5c8;
  color: black;
}
main::-webkit-scrollbar {
  width: 0.8vw;
}
main::-webkit-scrollbar-thumb {
  background-color: rgba(119, 119, 119, 0.3333333333);
}
main::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}
main::-webkit-scrollbar-track {
  background-color: rgba(85, 85, 85, 0.3333333333);
}
main::-webkit-scrollbar-track:hover {
  background-color: #555;
}

nav {
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #25272e;
  padding: 0 9rem;
  z-index: 1000;
  box-shadow: 0 0.75rem 0.5rem rgba(0, 0, 0, 0.288);
}
nav img {
  width: 6.5rem;
  filter: drop-shadow(0.6rem 0.65rem 0.75rem black);
}
nav img:hover {
  filter: drop-shadow(0 0 0.75rem #30d5c8);
}
nav ul {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  list-style: none;
}
nav ul a {
  text-decoration: none;
  color: white;
  text-transform: capitalize;
  letter-spacing: 0.15rem;
  font-size: 1.2rem;
}
nav ul a span {
  background-color: #7530d5;
  padding: 0.3rem 0.6rem;
  border-radius: 0.5rem;
}

.hero {
  background: url("/images/bg2.jpg") center/cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.hero_div {
  top: 8rem;
  left: -22rem;
  border-radius: 1.2rem;
  box-shadow: 1.2rem 1.4rem 1.2rem rgba(0, 0, 0, 0.486);
  position: relative;
  background-color: rgba(0, 0, 0, 0.651);
  width: 40rem;
  height: 40%;
}
.hero_div-heading {
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  color: white;
  line-height: 5rem;
  letter-spacing: 0.1rem;
  padding: 2rem;
  word-wrap: normal;
}
.hero_down {
  text-align: center;
  padding-bottom: 1.5rem;
}
.hero_down a {
  color: #25272e;
}

.break__section {
  position: relative;
  background: url("/images/svg_bg-top.svg") center/cover;
  background-repeat: no-repeat;
  box-shadow: 0 1.4rem 1.2rem rgba(0, 0, 0, 0.486);
  display: grid;
  place-items: center;
  height: 30rem;
}
.break__section .break {
  display: flex;
  position: absolute;
  opacity: 0.75;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: hsl(268deg, 58%, 24%);
  border-radius: 0.75rem;
  width: 80rem;
  height: 19rem;
  gap: 5rem;
}
.break__section .break__wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-right: 5rem;
  border-right: 1px solid rgba(255, 255, 255, 0.459);
}
.break__section .break__wrapper img {
  width: 3.2rem;
  justify-self: center;
  align-self: center;
  filter: invert(100%) sepia(97%) saturate(0%) hue-rotate(24deg) brightness(103%) contrast(106%);
}
.break__section .break__wrapper p {
  line-height: 1.4rem;
  color: white;
  max-width: 19rem;
}
.break__section .break__wrapper:last-child {
  border: none;
}

.skills {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}
.skills__bg {
  background: url("/images/prism.png") center/cover;
  position: absolute;
  height: 100%;
  width: 100vw;
  z-index: -1;
  transform-style: preserve-3d;
  transform: translateZ(-5rem) scale(2);
}
.skills__container {
  width: 75%;
  height: 100%;
  display: grid;
  margin: -2rem 0 0 -5rem;
  align-items: center;
  justify-content: center;
  transform-style: preserve-3d;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.skills__container .skills__dev {
  grid-row: 1/span 2;
  grid-column: 1/span 1;
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
  width: 18rem;
  gap: 3.2rem;
}
.skills__container .skills__dev--icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 5rem;
}
.skills__container .skills__dev--icons img {
  width: 4rem;
}
.skills__container .skills__design {
  grid-row: 1/span 1;
  grid-column: 2/span 1;
  align-self: center;
  justify-self: center;
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
}
.skills__container .skills__design--icons {
  display: flex;
  gap: 3rem;
}
.skills__container .skills__design--icons img {
  width: 4rem;
}
.skills__container .skills__tools {
  grid-row: 2/span 1;
  grid-column: 2/span 1;
  align-self: center;
  justify-self: center;
  margin-bottom: 8rem;
  display: flex;
  gap: 2.2rem;
  flex-direction: column;
}
.skills__container .skills__tools--icons {
  display: flex;
  gap: 3rem;
}
.skills__container .skills__tools--icons img {
  width: 4rem;
}
.skills__container .skills__heading {
  display: flex;
  width: 7rem;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding-bottom: 1.5rem;
  border-bottom: 3px solid #30d5c8;
}
.skills__container .skills__heading--img {
  width: 2.3rem;
  filter: invert(100%) sepia(97%) saturate(0%) hue-rotate(24deg) brightness(103%) contrast(106%);
}
.skills__container .skills__heading--title {
  width: 4rem;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  color: white;
}

.reviews {
  background: url("/images/svg_bg-bottom.svg") center/cover;
  box-shadow: 0 -1.4rem 1.2rem rgba(0, 0, 0, 0.486);
  background-repeat: no-repeat;
  position: relative;
  height: 30rem;
  width: 100%;
  display: grid;
  place-items: center;
}

.reviews_container {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(5, auto);
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  overflow: hidden;
  width: 70%;
  height: 15rem;
}

.reviews_container-cards {
  height: 12rem;
  width: 24rem;
  background-color: white;
  border: 1px solid black;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.308);
  cursor: -webkit-grab;
  cursor: grab;
}

.projects {
  width: 100vw;
  height: 100vh;
  background-color: #2e343e;
  background-repeat: no-repeat;
  margin: 0 auto;
  display: grid;
  place-items: center;
}

.projects__container {
  position: absolute;
  background-color: hsl(268deg, 58%, 24%);
  display: grid;
  border-radius: 0.5rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding: 2rem 5rem;
  max-width: 100%;
  max-height: 100%;
  row-gap: 3rem;
  -moz-column-gap: 8rem;
       column-gap: 8rem;
}

.projects__wrapper {
  position: relative;
  transform-style: preserve-3d;
  perspective: 150rem;
  display: inline-block;
  width: 20rem;
  height: 25rem;
}

.projects__wrapper:hover .projects__wrapper--card {
  transform: rotateY(-180deg);
}

.projects__wrapper:hover .projects__back {
  transform: rotateY(0deg);
}

.projects__wrapper--card,
.projects__back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  background-color: #2e343e;
  transform-style: preserve-3d;
  transition: transform 0.6s cubic-bezier(0.4, 0.2, 0.2, 1);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border: 1px solid #30d5c8;
  text-align: center;
}

.projects__wrapper--card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transform: rotateY(0deg);
  pointer-events: none;
}

.projectImage img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 0.5rem;
  margin-top: 1.2rem;
  width: 90%;
}

.tech-stack {
  margin-bottom: 5rem;
  display: flex;
  row-gap: 1.2rem;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.tech-stack span {
  color: white;
  font-size: 0.8rem;
  font-weight: 500;
  background-color: white;
  border-radius: 0.2rem;
  text-align: center;
  width: 5.2rem;
  padding: 0.5rem 0;
  background-color: transparent;
  border: 1px solid white;
}

.projects__back {
  transform: rotateY(180deg);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 3rem;
}

.projects__back--wrapper {
  width: 80%;
  height: 10rem;
  margin-top: 2.5rem;
}
.projects__back--wrapper h6 {
  color: white;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4rem;
  letter-spacing: 0.05rem;
}

.back__buttons--wrapper {
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  row-gap: 2.4rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  pointer-events: inherit;
}
.back__buttons--wrapper a {
  width: 80%;
  display: block;
  color: white;
  padding: 0.5rem;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
.back__buttons--wrapper a :hover {
  background-color: #30d5c8;
  color: black;
}

.card-content {
  transform: translateZ(6rem) scale(0.96);
}

.form__section {
  background-color: #ff402e;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__form {
  border: 2px solid white;
  padding: 3rem;
  border-radius: 0.5rem;
}

.form__div {
  width: 25rem;
  height: 50px;
  position: relative;
  margin-top: 1.2rem;
}
.form__div:first-of-type {
  margin-top: 0;
}

.form__textarea {
  width: 25rem;
  height: 15rem;
  position: relative;
  margin-top: 1.2rem;
}

#message {
  padding-top: 1rem;
  resize: vertical;
}

.form__input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 0.5rem;
  outline: none;
  text-indent: 1.4rem;
  color: white;
  font-size: 1.2rem;
  padding: 1.5rem 0 1.5rem 0;
}
.form__input:hover {
  border: 2px solid #30d5c8;
  transition: 0.4s ease-in-out;
}
.form__input:focus {
  border: 2px solid #30d5c8;
}

.form__label {
  position: absolute;
  top: 0.6rem;
  left: 1.5rem;
  color: #95989a;
  text-transform: capitalize;
  font-size: 1.6rem;
  transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
  padding: 0 0.5rem;
  pointer-events: none;
  background-color: #2e343e;
}

.form__input:not(:-moz-placeholder-shown).form__input:not(:focus) ~ .form__label {
  top: -0.75rem;
  font-size: 1.2rem;
  left: 1rem;
}

.form__input:not(:-ms-input-placeholder).form__input:not(:focus) ~ .form__label {
  top: -0.75rem;
  font-size: 1.2rem;
  left: 1rem;
}

.form__input:focus ~ .form__label,
.form__input:not(:placeholder-shown).form__input:not(:focus) ~ .form__label {
  top: -0.75rem;
  font-size: 1.2rem;
  left: 1rem;
}

.form__button {
  margin-top: 1.2rem;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 0.5rem;
  outline: none;
  text-indent: 1.2rem;
  color: white;
  font-size: 1.4rem;
  padding: 1rem;
  letter-spacing: 0.1rem;
  cursor: pointer;
}
.form__button:hover {
  color: black;
  background-color: #30d5c8;
  font-weight: bold;
  transition: 0.2s ease-in-out;
}

footer {
  margin: 0 auto;
  height: 25rem;
  background-color: #25272e;
  display: grid;
  align-items: center;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20rem;
}

.footer__ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.footer__ul li {
  padding-bottom: 2rem;
}
.footer__ul li a {
  text-decoration: none;
  color: white;
}

.footer__logo {
  width: 12rem;
  filter: drop-shadow(0.6rem 0.65rem 0.75rem black);
}
.footer__logo:hover {
  filter: drop-shadow(0 0 0.75rem #30d5c8);
}

.footer__contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer__contact span {
  padding-bottom: 2rem;
  color: white;
}/*# sourceMappingURL=styles.css.map */