// -- color palette --
$background: #2e343e;
$grey: #25272e;
$grey--dark: #212121;
$grey--darker: #181818;
$purple: #7530d5;
$purple--dark: #3b1a61;
$blue: #30d5c8;
$bluegreen: #2dffc4;
$redorange: #ff402e;
$offwhite: #c4c3c0;

// -- fonts --
$Rubik: "Rubik", sans-serif;
$Syne: "Syne", sans-serif;

// -- Mixins --
@mixin bgColor($color) {
  background-color: $color;
}

@mixin footerFlex() {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin breakImg {
  width: 3.2rem;
  justify-self: center;
  align-self: center;
  // filter: invert(100%) sepia(97%) saturate(0%) hue-rotate(24deg)
  //   brightness(103%) contrast(106%);
}

@mixin breakPara {
  line-height: 1.4rem;
  color: $grey--dark;
  font-weight: 500;
  max-width: 19rem;
}

// -- animations --
@keyframes slidein {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}

.slideUp {
  animation: slideUp 500ms ease-in;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(10rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.slideDown {
  animation: slideDown 500ms ease-in;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInButton {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
// MAIN ---------------
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

main {
  height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 5rem;
  font-family: $Rubik;
  scroll-behavior: smooth;
  ::selection {
    background-color: $blue;
    color: black;
  }
  &::-webkit-scrollbar {
    width: 0.6vw;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $grey--darker;
    border-radius: 1rem;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: $blue;
  }
  &::-webkit-scrollbar-track {
    background-color: $background;
  }
  &::-webkit-scrollbar-track:hover {
    background-color: #777;
  }
}

// Nav ----------------------
nav {
  width: 100vw;
  height: 3.5rem;
  position: static;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $background;
  padding: 0 9rem;
  z-index: 1000;
  img {
    width: 6rem;
    margin-left: 6%;
    cursor: pointer;
    &:hover {
      filter: drop-shadow(0 0 0.75rem $blue);
    }
  }
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 6%;
    gap: 3rem;
    list-style: none;
    li {
      position: relative;
      padding-bottom: 0.2rem;
      &:hover .slideIn {
        width: 100%;
      }
      a {
        text-decoration: none;
        color: white;
        text-transform: capitalize;
        letter-spacing: 0.12rem;
        font-size: 1.2rem;
        span {
          color: black;
          font-weight: 500;
          background-color: $blue;
          padding: 0.3rem 0.6rem;
        }
      }
      .slideIn {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        width: 0;
        border-bottom: 2px solid $blue;
        transition: width 0.3s;
      }
    }
  }
}

.burgermenu {
  display: none;
  top: 1rem;
  right: 1.2rem;
  position: absolute;
  width: 2.2rem;
  height: 2.2rem;
  z-index: 100;
  background-color: $blue;
  &__container {
    width: 1.8rem;
    height: 1.2rem;
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    &--burger {
      width: 100%;
      height: 0.2rem;
      background-color: black;
      border-radius: 0.05rem;
    }
  }
}

.sticky {
  top: 0;
  width: 100vw;
  height: 3.5rem;
  position: sticky !important;
  background-color: $grey;
  animation: navFade 0.8s;
  transition: 0.5s ease-in;
  box-shadow: 0 0.75rem 0.5rem rgba(0, 0, 0, 0.288);
}

@keyframes navFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// Hero ---------------------
.hero {
  background-color: $background;
  margin: 0 auto;
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  &__container {
    margin-top: -5rem;
    display: flex;
    width: 80%;
    height: 50rem;
    justify-content: center;
    align-items: flex-start;
  }
  &__content {
    margin: 10rem 0 0 8rem;
    display: flex;
    flex-direction: column;
    row-gap: 1.2rem;
    justify-content: center;
    font-family: $Syne;
    width: 40rem;
    max-height: 50%;
    h1 {
      color: white;
      font-size: 2.5rem;
      letter-spacing: 0.12rem;
      animation: moveInLeft 1.8s ease-out;
    }
    h3 {
      color: #e1dbd6;
      font-size: 1.8rem;
      animation: moveInRight 1.8s ease-out;
    }
    p {
      color: #c4c3c0;
      font-size: 1.5rem;
      animation: moveInLeft 1.8s ease-out;
    }
    &--buttons {
      gap: 2rem;
      display: flex;
      margin-top: 4rem;
      animation: moveInButton 0.8s ease-out 0.75s;
      animation-fill-mode: backwards;
      .email__container {
        position: relative;
        overflow: hidden;
        &:hover .new {
          transform: translateX(0);
        }
        .new {
          background-color: $blue;
          color: $grey--dark;
          display: grid;
          inset: 0;
          place-content: center;
          position: absolute;
          transform: translateX(-100%);
          transition: transform 0.2s;
          font-weight: bold;
        }
      }
      a {
        text-decoration: none;
        background-color: $blue;
        &:hover {
          scale: 1.1;
          transition: 0.3s ease-in-out;
        }
      }
      span {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #c4c3c0;
        column-gap: 1rem;
        font-size: 1.2rem;
        padding: 0 1.2rem;
        cursor: pointer;
        div {
          border-right: 1px solid #c4c3c0;
          display: inline-block;
          height: 3.5rem;
        }
        p {
          background-color: transparent;
          border: none;
          color: #f5f5f5;
          font-size: 1.1rem;
        }
        i {
          color: #f5f5f5;
        }
      }
    }
  }

  #magic {
    color: black;
  }

  .hero__animation {
    margin: 5rem auto;
    animation: slideDown 1.4s ease-in;
    filter: drop-shadow(0.6rem 0.65rem 0.85rem black);
  }
  &_down {
    bottom: 1rem;
    position: absolute;
    text-align: center;
    a {
      color: $grey;
      :hover {
        color: $blue;
      }
    }
  }
}

// Break --------------------------------
.break__section {
  position: relative;
  background: url("/images/svg_bg3.svg") center / cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  box-shadow: 0 1.4rem 1.2rem rgba(0, 0, 0, 0.486);
  display: grid;
  place-items: center;
  width: 100vw;
  height: 40rem;
  .break__container {
    height: 85%;
    width: 90rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    h2 {
      color: white;
      border-bottom: 3px solid $blue;
      font-size: 2rem;
      letter-spacing: 0.1rem;
    }
    .break {
      display: flex;
      position: relative;
      opacity: 0.75;
      justify-content: center;
      align-items: center;
      text-align: center;
      background-color: $offwhite;
      width: 90rem;
      height: 19rem;
      gap: 5rem;
      &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding-right: 5rem;
        border-right: 1px solid $grey--dark;
        &:last-child {
          padding-right: 0;
        }
        img {
          @include breakImg();
        }
        p {
          @include breakPara();
        }
      }
      &__wrapper:last-child {
        border: none;
      }
    }
  }
}

// Skills ---------------------------------
.skills {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
  &__bg {
    background: url("/images/prism.png") center / cover;
    position: absolute;
    height: 100%;
    width: 100vw;
    z-index: -1;
    transform-style: preserve-3d;
    transform: translateZ(-5rem) scale(2);
  }
  &__container {
    width: 75%;
    height: 100%;
    display: grid;
    margin: -2rem 0 0 -5rem;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    .skills__dev {
      grid-row: 1 / span 2;
      grid-column: 1 / span 1;
      align-self: center;
      justify-self: center;
      display: flex;
      flex-direction: column;
      width: 18rem;
      gap: 3.2rem;
      &--icons {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 5rem;
        img {
          width: 4rem;
          filter: invert(100%) sepia(97%) saturate(0%) hue-rotate(24deg)
            brightness(103%) contrast(106%);
          &:first-of-type {
            width: 4.8rem;
          }
        }
      }
    }
    .skills__design {
      grid-row: 1 / span 1;
      grid-column: 2 / span 1;
      align-self: center;
      justify-self: center;
      margin-top: 10rem;
      display: flex;
      flex-direction: column;
      gap: 2.2rem;
      &--icons {
        display: flex;
        gap: 3rem;
        img {
          width: 4rem;
          filter: invert(100%) sepia(97%) saturate(0%) hue-rotate(24deg)
            brightness(103%) contrast(106%);
          &:first-of-type {
            width: 2.8rem;
          }
          &:last-of-type {
            width: 9rem;
            margin-left: -2.5rem;
          }
        }
      }
    }
    .skills__tools {
      grid-row: 2 / span 1;
      grid-column: 2 / span 1;
      align-self: center;
      justify-self: center;
      margin-bottom: 8rem;
      display: flex;
      gap: 2.2rem;
      flex-direction: column;
      &--icons {
        display: flex;
        gap: 2.2rem;
        img {
          width: 4rem;
          filter: invert(100%) sepia(97%) saturate(0%) hue-rotate(24deg)
            brightness(103%) contrast(106%);
          &:nth-of-type(2) {
            width: 5rem;
          }
        }
      }
    }
    .skills__heading {
      display: flex;
      width: 7rem;
      gap: 1rem;
      justify-content: center;
      align-items: center;
      padding-bottom: 1.5rem;
      border-bottom: 3px solid $blue;
      &--img {
        width: 2.3rem;
        filter: invert(100%) sepia(97%) saturate(0%) hue-rotate(24deg)
          brightness(103%) contrast(106%);
      }
      &--title {
        width: 4rem;
        font-size: 1.6rem;
        letter-spacing: 0.1rem;
        color: white;
      }
    }
  }
}

// Projects -------------------------------
.projects {
  width: 100vw;
  height: 100vh;
  background: url("/images/svg_bg-top.svg") center / cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  margin: 0 auto;
  display: grid;
  place-items: center;
  box-shadow: 0 -1.4rem 1.2rem rgba(0, 0, 0, 0.486);
}

.projects__figure {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
  padding: 2.8rem 0;
  h2 {
    color: white;
    font-size: 2rem;
    border-bottom: 3px solid $blue;
    letter-spacing: 0.1rem;
  }
}

.projects__container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  place-items: center;
  width: 80%;
  height: 100%;
  opacity: 0.95;
  gap: 3rem;
}

.projects__wrapper {
  position: relative;
  transform-style: preserve-3d;
  perspective: 150rem;
  display: inline-block;
  width: 20rem;
  height: 28rem;
}

.projects__wrapper:hover .projects__wrapper--card {
  transform: rotateY(-180deg);
}

.projects__wrapper:hover .projects__back {
  transform: rotateY(0deg);
}

.projects__wrapper--card,
.projects__back {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $background;
  transform-style: preserve-3d;
  transition: transform 0.6s cubic-bezier(0.4, 0.2, 0.2, 1);
  backface-visibility: hidden;
  border: 1px solid white;
  text-align: center;
  pointer-events: none;
}

.projects__wrapper--card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transform: rotateY(0deg);
  h3 {
    color: white;
    font-size: 1.4rem;
    margin-top: 1rem;
    margin-bottom: -1.8rem;
  }
}

.projectImage img {
  width: 100%;
  height: 13rem;
  object-fit: cover;
  object-position: center;
  margin-top: 1.4rem;
  width: 90%;
  border: 1px solid white;
}

.tech-stack {
  margin-bottom: 5rem;
  display: flex;
  row-gap: 1.2rem;
  column-gap: 0.5rem;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  span {
    color: white;
    font-size: 0.8rem;
    font-weight: 350;
    background-color: white;

    text-align: center;
    width: 5.2rem;
    padding: 0.5rem 0;
    background-color: transparent;
    border: 1px solid white;
  }
}

.projects__back {
  transform: rotateY(180deg);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 3rem;
}

.projects__back--wrapper {
  width: 80%;
  height: 10rem;
  margin-top: 2.5rem;
  h6 {
    color: white;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4rem;
    letter-spacing: 0.05rem;
  }
}

.back__buttons--wrapper {
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  row-gap: 2.4rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  transform: none !important;
  pointer-events: auto !important;
  a {
    width: 80%;
    display: block;
    color: white;
    padding: 0.5rem;
    text-decoration: none;
    border: 1px solid white;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
    i {
      padding-left: 0.5rem;
    }
    &:hover {
      background-color: $blue;
      color: black;
      transition: 0.2s ease-in-out;
      font-weight: 500;
    }
  }
}

.card-content {
  transform: translateZ(8rem) scale(0.96);
}

// Testimonials ---------------------------
// .reviews {
//   background: url("/images/svg_bg-bottom.svg") center / cover;
//   box-shadow: 0 -1.4rem 1.2rem rgba(0, 0, 0, 0.486),
//     0 1.4rem 1.2rem rgba(0, 0, 0, 0.486);
//   background-repeat: no-repeat;
//   position: relative;
//   height: 30rem;
//   width: 100%;
//   display: grid;
//   place-items: center;
//   &__container {
//     width: 100%;
//     height: 24rem;
//     display: grid;
//     place-items: center;
//     // overflow: hidden;
//     scroll-behavior: smooth;
//     opacity: 0.8;

//     .reviews__arrow {
//       position: absolute;
//       height: 3.5rem;
//       width: 3.5rem;
//       font-size: 2.1rem;
//       font-weight: bold;
//       cursor: pointer;
//       opacity: 0.5;
//       background-color: white;
//       border: none;

//       display: grid;
//       place-items: center;

//       &:hover {
//         opacity: 1;
//         border: none;
//       }
//     }
//     .reviews__wrapper {
//       width: 100%;
//       max-width: 70rem;
//       height: 100%;
//       list-style: none;
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       column-gap: 2rem;
//       background-color: $purple--dark;
//       padding: 0 4rem;

//       &--card {
//         position: absolute;
//         height: 16rem;
//         width: 30rem;
//         background-color: white;
//         border: 1px solid black;

//         box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.308);
//         cursor: grab;
//       }
//     }
//   }
// }

// #arrow-prev {
//   left: 12%;
// }

// #arrow-next {
//   right: 12%;
// }

// CONTACT --------------------------
.form__section {
  background: url("/images/svg_bg-bottom.svg") center / cover;
  background-repeat: none;
  background-blend-mode: multiply;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}

.form__container {
  display: flex;
  column-gap: 5rem;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
}

.form__form {
  border: 2px solid white;
  padding: 3.5rem;
}

.form__div {
  width: 25rem;
  height: 50px;
  position: relative;
  margin-top: 1.2rem;
  &:first-of-type {
    margin-top: 0;
  }
}

.form__textarea {
  width: 25rem;
  height: 15rem;
  position: relative;
  margin-top: 1.2rem;
}

#message {
  padding-top: 1rem;
  resize: vertical;
}

.form__input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 0.5rem;
  outline: none;
  text-indent: 1.4rem;
  color: white;
  font-size: 1.2rem;
  padding: 1.5rem 0 1.5rem 0;
  &:hover {
    border: 2px solid #30d5c8;
    transition: 0.4s ease-in-out;
  }
  &:focus {
    border: 2px solid #30d5c8;
  }
}

.form__label {
  position: absolute;
  top: 0.6rem;
  left: 1.5rem;
  color: #95989a;
  text-transform: capitalize;
  font-size: 1.6rem;
  transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
  padding: 0 0.5rem;
  pointer-events: none;
  background-color: $background;
}

.form__input:focus ~ .form__label,
.form__input:not(:placeholder-shown).form__input:not(:focus) ~ .form__label {
  top: -0.75rem;
  font-size: 1.2rem;
  left: 1rem;
}

.form__button {
  margin-top: 1.2rem;
  width: 100%;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 0.5rem;
  outline: none;
  text-indent: 1.2rem;
  color: white;
  font-size: 1.4rem;
  padding: 1rem;
  letter-spacing: 0.1rem;
  cursor: pointer;
  &:hover {
    color: black;
    background-color: $blue;
    font-weight: bold;
    transition: 0.2s ease-in-out;
  }
}

.contact__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 40rem;
  padding: 4rem 0;
  &--title {
    color: white;
    border-bottom: 3px solid $blue;
    font-size: 2.2rem;
    letter-spacing: 0.1rem;
  }
  &--image {
    width: 30rem;
    filter: drop-shadow(0.6rem 0.65rem 0.85rem #c4c3c054);
  }
}
// FOOTER ---------------------------
footer {
  margin: 0 auto;
  height: 20rem;
  @include bgColor($grey);
  display: grid;
  align-items: center;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20rem;
}

.footer__ul {
  @include footerFlex();
  list-style: none;
  li {
    padding-bottom: 2rem;
    text-transform: capitalize;
    a {
      font-size: 1.3rem;
      text-decoration: none;
      color: white;
      &:hover {
        color: $blue;
        transition: 300ms;
      }
    }
  }
}

.footer__logo {
  width: 12rem;
  cursor: pointer;
  filter: drop-shadow(0.6rem 0.65rem 0.75rem black);
  &:hover {
    transition: 300ms;
    filter: drop-shadow(0 0 0.75rem $blue);
  }
}

.footer__contact {
  @include footerFlex();
  li {
    list-style: none;
    a {
      font-size: 1.3rem;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 0.5rem;
      padding-bottom: 2rem;
      color: white;
      text-transform: capitalize;
      &:hover {
        color: $blue;
        transition: 300ms;
      }
    }
  }
}

.footer__strip {
  background-color: $blue;
  color: $grey--dark;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

// Media Queries -------------

@media (max-width: 600px) {
  //  -- Nav --
  nav {
    flex-direction: column;
  }

  .burgermenu {
    display: grid;
    place-items: center;
  }

  .nav__links {
    // display: none;
    width: 100vw;
    height: 100vh;
    background-color: $background;
    padding: 5rem 0;
    flex-direction: column;
    row-gap: 4rem;
    z-index: 1000;
  }

  .active {
    display: flex;
    animation: slidein 400ms ease-in;
  }
}
